<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavlukhin.acropanda"
    android:versionCode="7"
    android:versionName="0.1.6"
    android:installLocation="preferExternal" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".PandaApplication">
        <activity
            android:name=".game.GameActivity"
            android:label="@string/activity_title"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ivan.simple.LevelChooseActivity" />
        </activity>

        <activity
            android:name=".welcome.StartActivityNew"
            android:label="@string/activity_title"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".welcome.StartActivity"
            android:label="@string/activity_title"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ivan.simple.StartActivityNew" />
        </activity>
        
        <activity
            android:name=".choose.LevelChooseActivity"
            android:label="@string/activity_title"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ivan.simple.StartActivity" />
        </activity>
        
        <activity
            android:name=".game.pause.PauseActivity"
            android:label="@string/activity_title"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ivan.simple.game.GameActivity" />
        </activity>

        <activity
            android:name=".achievements.AchievementsActivity"
            android:label="@string/activity_title"
            android:screenOrientation="landscape">
        </activity>
    </application>
    

</manifest>